<div class="nav-bar">
        <a class="nav-component {{#if isMainPage}}active{{/if}}" href="/">Main page</a>
        <a class="nav-component {{#if isViewPosts}}active{{/if}}" href="/posts">View all posts</a>
        <a class="nav-component {{#if isCreatePost}}active{{/if}}" href="/posts/create">Create a post</a>
</div>