<link rel="stylesheet" href="../../public/style_navigation.css">
<nav>
    <ul>
        <li><a href='/posts'>Posts</a></li>
        <li><a href='/posts/create'>Crear Post</a></li>
        <li><a href='/'>HOME</a></li>
    </ul>
</nav>



