<link rel="stylesheet" href="../../public/navigation.css">
<div class="barraNavegacion">
    <nav >
        <ul>
            <li><a href='/posts'>Posts</a></li>
            <li><a href='/posts/create'>Crear Post</a></li>
            <li><a href='/user'>Profile</a></li>
            <li>
                <a href="/auth/logout">LogOut</a>
            </li>
        </ul>
    </nav>
</div>



