<link rel="stylesheet" href="../../public/style_navigation.css">

<body>
    <nav>
        <ul>
            <li><a href='/posts'>Posts</a></li>
            <li><a href='/posts/create'>Crear Post</a></li>
            <li><a href='/users'>Acerca De</a></li>
        </ul>
    </nav>
</body>


