<link rel="stylesheet" href="../../public/style_navigation.css">
<nav>
    <ul>
        <li><a href='/posts'>Posts</a></li>
        <li><a href='/posts/create'>Crear Post</a></li>
        <li><a href='/posts/profile'>Profile</a></li>
        <li>
            <a href="/auth/logout">LogOut</a>
        </li>
    </ul>
</nav>



