<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    {{>navbar}}
    <div class="main-container">{{{body}}}</div>
</body>
</html>
