<!-- _navigation.hbs -->
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/posts">Posts</a></li>
    <li><a href="/postforms/new">Create Post</a></li>
    <!-- Add other navigation links as needed -->
  </ul>
</nav>
