<form action="/posts/create" method="post">
    <label for="Title"><b>Name:</b></label>
    <input type="text" name="title" required>

    <label for="Content"><b>Post:</b></label>
    <input type="text" name="content" required>

    <button type="'submit">Create a Post</button>
</form>