<form action="/posts/create" method="post">
  <label for="title">title</label>
  <input name="title" type="text" />
  <label for="content">content</label>
  <input name="content" type="text" />
  <button type="submit">Create</button>
</form>
