<form action="/posts/create" method="post">
    <label for="Title">Name:</label>
    <input type="text" name="title" required>

    <label for="Content">Post:</label>
    <input type="text" name="content" required>

    <button type="'submit">Create a Post</button>
</form>