<body>
    <h2>User: {{ user.username }}</h2>
    <ul>
        {{#each user.posts}}
            <li>
                <h3>{{ title }}</h3>
                <p>{{ content }}</p>
                <p>Published: {{ published }}</p>
            </li>
        {{/each}}
    </ul>
</body>