<form action="/posts/create" method="post">
  <div>
    <label for="title">Title</label>
    <input name="title" type="text" />  
  </div>

  <div>
    <label for="content">Content</label>
    <input name="content" type="text" />
  </div>
<div>
  <label for="published">Publish</label>
  <input name="published" type="checkbox" value="true" />
</div>
  <button type="submit">Post</button>
</form>