{{!-- views/notFound.hbs --}}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Post No Encontrado</title>

</head>
<body>
    <header>
        {{_navigation}} 
    </header>
    
    <main>
        <h1>Error 404: Post No Encontrado</h1>
        <p>{{message}}</p> 
        <a href="/postes">Volver a la lista de posts</a>
    </main>
</body>
</html>
