<!-- views/posts.hbs -->
<!DOCTYPE html>
<html>
<head>
  <title>Lista de Posts</title>
</head>
<body>
  <h1>Lista de Posts</h1>
  <ul>
    {{#each posts}}
      <li>
        <h2>{{title}}</h2>
        <p>{{content}}</p>
      </li>
    {{/each}}
  </ul>
</body>
</html>