<link rel="stylesheet" href="../public/styles.css">
<title>{{title}}</title>

<body>
    <main>
        <h1>POST</h1>
        <div class="comment">
            <h2>{{post.title}}</h2>
            <p>{{post.content}}</p>
        </div>
    </main>
</body>

</html>
