<h1>Signup</h1>
<form action="/auth/register" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Registrar</button>
</form>
<p>Ya tienes una cuenta? <a href="/login">Inicia sesión aquí</a></p>