<title>{{title}}</title>
<link rel="stylesheet" href="../public/style_form.css">

    <form action='/user/update?_method=PUT' method='post'>
        <div>
            <label for="email">Email</label>
            <input name="email" type="email" value="{{user.email}}">
        </div>
        <div>
            <label for="content">Photo</label>
            <textarea name="content">{{post.content}}</textarea>
        </div>
        <button type="submit">Update</button>
    </form>
