<link rel="stylesheet" href="../../public/updatePost.css">

<title>{{title}}</title>
<div class="updateForm">
    <form action='/user/update/{{post.id}}?_method=PUT' method='post'>
        <div>
            <label for="title">Title</label>
            <input name="title" type="text" value="{{post.title}}">
        </div>
        <div>
            <label for="content">Content</label>
            <textarea name="content">{{post.content}}</textarea>
        </div>
        <button type="submit">Update</button>
    </form>
</div>