.barraNavegacion nav {
  background-color: #333;
  padding: 10px;
}

.barraNavegacion ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.barraNavegacion li {
  float: left;
  margin-right: 20px;
}

.barraNavegacion li:last-child {
  float: right;
  margin-right: 0;
  margin-left: auto;
}

.barraNavegacion a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px 15px;
}

.barraNavegacion a:hover {
  background-color: #444444;
}
