body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.post{
    font-family: 'Arial', sans-serif;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post h1 {
    color: #333;
    text-align: center;
}

.post h2 {
    color: #000000;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.post p {
    color: #555;
    line-height: 1.6;
}
.post button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.post button:hover {
    background-color: #2980b9;
}

.button-container {
    display: flex;
    gap: 10px;
}