nav {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  padding: 10px;
  color: white;
  font-family:monospace;
}

ul {
  padding: 0;
  display: flex;
  list-style-type: none; /*Quita los puntos de lista */
}

a {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: block;
}